body { 
	align-items: center; 
	background-image: url(images/wallpaper.jpg);
	background-size: cover;
    background-attachment: fixed;

}



/* navigation */
nav {
	/* add color branding from gigya */
	background: rgb(32, 91, 167);
	max-height: 50px;
	display: flex;
	color: white;
	padding: 1em 3em;
}

nav div { display: inline-flex; flex: 2; align-items: center; }

nav div a img { padding-right: 2em;  }

nav div:nth-child(2){ justify-content: flex-end; }

nav div i { color: white; }

#avatar {
	margin-right: 10px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#btnLogout { cursor: pointer;  }

/* topography */
h1, h2, h3, h4, h5, h6, i { color: rgb(32, 91, 167); display: inline-flex; }
i {  padding: 0 5px; }
a { color: white; text-decoration: none;  }


/* loginDiv */
#loginDiv {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* loggedInfo */
#loggedInfo * { text-align: center; }

.container { justify-content: center; }

.mdl-button--raised.mdl-button--colored,.mdl-badge[data-badge]:after { background: rgb(32, 91, 167); }

#badgeCounter { margin: 1em 0; }


.gigya-login-footer {  margin: 1em!important; }

.mdl-card {  width: 35%; padding: 3em; margin-top: 2em; align-items: center;}

.button-row {
    display: flex;
    margin-top: 2em;
}

.button-row div { margin: 0 1em;  }

.button-row div button { background: rgb(32, 91, 167)!important; }

/* email dialog overrides */
dialog h6 { text-align: center;  }
.mdl-button--raised.mdl-button--colored:hover {  background: rgb(7, 62, 134); }


/* media queries to cleanup layout md  */
@media only screen and (max-width: 900px) {	
	.mdl-card {
    	width: 75%;
    	padding: 2em;
	}
}


/* media queries to cleanup layout sm */
@media only screen and (max-width: 500px) {	
	nav { padding: 1em; }

	nav div a img { width: 80%; padding-right: 1em;  }

	h5 {
    	font-size: 12px;
    	margin: 0px;
    	padding: 0px;		
	}
}

.hide { display: none; }
.show { display: block; }